{% extends 'main/base.html' %}
{#{% block navigation %}#}
{#{% endblock %}#}
{% block content %}
    <form class="form-horizontal col-lg-4" action="{% url 'login' %}" method="post">
    {% csrf_token %}
      <fieldset>
        <legend>Login</legend>
        {% if error_message %}
        <div class="alert alert-danger">
          <strong>Username or Password</strong> is incorrect.
        </div>
        {% endif %}
        <a href="{% url 'signup' %}">Don't have an account? Sign up here</a>
      <br><br>
          <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Username</label>
          <div class="col-lg-10">
            <input class="form-control" id="inputEmail" placeholder="Username" type="text" name="username">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
          <div class="col-lg-10">
            <input class="form-control" id="inputPassword" placeholder="Password" type="password" name="password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>

    </form>
    {% block auth_action %}
    {% endblock %}
{#    <form action="{% url 'login' %}" method="post">#}
{#        {% csrf_token %}#}
{#        <input type="text" name="username">#}
{#        <input type="password" name="password">#}
{#        <input type="submit" value="login">#}
{#    </form>#}
    <form action=""></form>
{% endblock %}