{% extends 'main/base.html' %}

{% block content %}
    <div class="col-md-1"></div>
    <div class="jumbotron col-md-10">
        <h1>{{ user.username}}</h1>
        {% if self == False %}
            <a href="{% url 'new_follow_action' user %}" class="btn btn-info">
                    {% if following %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
            </a>
        {% endif %}
        <h5>{{ user.get_full_name }}</h5>
        <h5>{{ follows }}</h5>
        <h5>{{ followers }}</h5>
        <h5>Following: {{ follows_count }}</h5>
        <h5>Followers: {{ followers_count }}</h5>
        {%  if user.bio%}
            <p>{{ user.bio }}</p>
        {% endif %}
    </div>
{% endblock %}
